#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.card {
  padding: 2em;
}


#Circle{
  width: 1000px;
  height: 1000px;
  background-color: #61dafb;
  border-radius: 50%;


  position: absolute;
}

#insta-Circle, #yt-Circle, #tik-Circle, #merch-Circle, #spotify-Circle{
  width: 150px;
  height: 150px;
  background-color: #61dafb;
  border-radius: 50%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

#spotify-Circle{
  
  justify-content: center;
  align-items: center;
}



.spotify-icon{
  width: 100%;
  height: 100%;

}



#drop {
  position: absolute;
  font-size: 100px;

}

#in {
  position: absolute;
  font-size: 100px;


}

#The {
  position: absolute;
  font-size: 100px;

}

#podcast {
  position: absolute;
  font-size: 100px;

}

.Where{

  justify-content: center;
  /* align-items: center; */
  display: flex;
  /* place-items: center; */
  width: 100vw;
}

.App{

  justify-content: center;
  align-items: center;
  display: flex;
  place-items: center;
}

#HomeScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Info{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
}

/* If mobile */


.Title{
  font-size: 40px;
  font-weight: bold;
  color: #61dafb;
}

.shown{
  display: flex;
}

.hidden{
  display: none;
}

.spotify-icon{
  opacity: 0;
  animation: forwards fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;

}

.insta-icon{
  width: 80px;
  height: 80px;
  margin-left: 10px;

}

.yt-icon{
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.tik-icon{
  width: 80px;
  height: 80px;
  margin-left: 10px;

}

.merch-icon{
  width: 80px;
  height: 80px;
  margin-left: 10px;

}

h2{
line-height: 1px;
margin-bottom: -1px;
}



.show-desc{
  display: block;
  margin-right: 40px;
  text-align: center;
}

.hide-desc{
  display: none;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    padding: 1rem;
  }
  .logo {
    height: 4em;
  }
  .card {
    padding: 1em;
  }
  #Circle{
    width: 500px;
    height: 500px;
  }
  

  #podcast {
    font-size: 60px;
  }

  #insta-Circle {
    justify-content: center;
    align-items: center;
  }

  #yt-Circle {
    justify-content: center;
    align-items: center;
  }

  #tik-Circle {
    justify-content: center;
    align-items: center;
  }

  #merch-Circle {
    justify-content: center;
    align-items: center;
  }

  .insta-icon{
    width: 90%;
    height: 90%;
    margin-left: 0px;

  
  }
  
  .yt-icon{
    width: 90%;
    height: 90%;
    margin-left: 0px;

  
  }
  
  .tik-icon{
    width: 90%;
    height: 90%;
    margin-left: 0px;

  }
  
  .merch-icon{
    width: 90%;
    height: 90%;
    margin-left: 0px;

  }
}